


body.wp-admin{

	@media screen and (min-width: 767px){
		
		
		
		& .arrow-section {
			max-width: 100%;

			&--headline{
				max-width: calc(100% - 42px) !important;
			}

			&--content {
				padding-left: 42px;
			}
		}
		
		
		
	}
 
	@media screen and (min-width: 1024px){
		
		.arrow-section {
			max-width: 100%;

			&--headline{
				max-width: calc(100% - 62px) !important;
			}

			&--content {
				padding-left: 60px;
			}
		}
		
		
	}
 
	.arrow-section{
		
		& h1,
		& h2{
			text-shadow: 0px 0px 3px rgba(3.0000000000000067, 15.00000000000005, 51, 0.25);
            margin-top: 0 !important;
		}

        & a:hover,
        & a:active,
        & a:focus {
            color: var(--global-palette3);
        }

		& .arrow-section--content .wp-block-kadence-iconlist{
			padding-left: 8px;
		}
	}

}