
@keyframes HHfadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
body #home_hero video{
	opacity: 0;
	animation: HHfadeIn 1s ease-in-out forwards;
}


body .list-font-light .kt-svg-icon-list-text{
	font-size: 21px;
	line-height: 1;
	font-weight: 300;
}


body .gform-theme{

	&.gform-theme--orbital{

		.gfield_required_asterisk{
			color: #3FBDF3;
		}

		.gform_fields{
			row-gap: 3rem;
		}

		input[type="text"],
		input[type="email"],
		input[type="url"],
		input[type="tel"],
		input[type="number"],
		input[type="password"],
		input[type="search"],
		textarea{
			border: 2px solid #DFE0E1;
			outline: none;
			box-shadow: none;
			border-radius: 6px;
			height: 2.6rem;

			&:focus,
			&:active{
				outline: none !important;
				border: 2px solid #0093D0; 
			}
		}

		& textarea{
			height: unset;
		}

		& label,
		& legend{
			font-weight: 600;
		}

		& .gform_required_legend{
			display: none;
		}

		& .gform_footer{

			padding-top: 2rem;

			& > input[type="submit"].gform_button{
				border-radius: 24px !important;
				background-color: #3FBDF3 !important;
				color: #FFFFFF !important;
				padding: 0.8rem 3rem !important;
				font-family: "Barlow Condensed", sans-serif !important;
				font-size: 18px !important;
				font-weight: 600 !important;
				letter-spacing: 3px !important;
				text-transform: uppercase !important;

				&:hover{
					background-color: #0093D0 !important;
				}
			}
		}

		
		
	}
}



body .cbs-list .kb-svg-icon-wrap{
	padding-left: 0 !important;
	padding-right: 0 !important;
}


body .kb-button span.kb-svg-icon-wrap svg{
	transform: rotate(0deg);
	transition: transform 0.3s ease;
}

body .kb-button:hover span.kb-svg-icon-wrap svg{
	transform: rotate(45deg);
}

body{
	letter-spacing: inherit;
}

body h2.elementor-size-default{
	text-shadow: 0px 0px 3px rgba(3,15,51,.25);
	letter-spacing: -0.58px;
}


body p{
	letter-spacing: -0.28px;
}


body .insights-card .kb-query-item figure{
	overflow: clip;
	border-radius: 8px;
}

body .insights-card .kb-query-item figure img{
	transform: scale(1);
	transition: all 0.3s ease;
}
body .insights-card .kb-query-item:hover figure img{
	transform: scale(1.1);
}

// body .mega-menu-row-layout{
// 	margin-left: -3rem;
// }



body li.kadence-menu-mega-enabled .mega-menu-row-layout{
	margin-top: -1rem;
	transition: all 0.4s ease;
}

body li.kadence-menu-mega-enabled:hover .mega-menu-row-layout{
	margin-top: 0rem;
	transition: all 0.4s ease;
}




body{

	@media screen and (min-width: 767px){
		
		
		
		& .arrow-section {
			max-width: 100%;

			&--headline{
				max-width: calc(100% - 42px) !important;
			}

			&--content {
				padding-left: 42px;
			}

			&--100{
				& .arrow-section--headline{
					max-width: 100% !important;
				}
			}
		}
		
		
		
	}
 
	@media screen and (min-width: 1024px){
		
		.arrow-section {
			max-width: 100%;

			&--headline{
				max-width: calc(100% - 62px) !important;
			}

			&--content {
				padding-left: 60px;
			}

			&--100{
				& .arrow-section--headline{
					max-width: 100% !important;
				}
			}

		}
		
		
	}
 
	.arrow-section{

		h1,
		h2{
			text-shadow: 0px 0px 3px rgba(3.0000000000000067, 15.00000000000005, 51, 0.25);

			& a{
				color: var(--global-palette3);
			}
		}



		& .arrow-section--content .wp-block-kadence-iconlist{
			padding-left: 8px;
		}


	}

}


// fadeInUp animation
@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}



.hero{
	&-100svh{

		@media screen and (max-width: 1024px){
			min-height: 100svh !important;
			max-height: 100svh !important;
		}
		
	}

	&-animated{

		& .eyebrow{
			opacity: 0;
			animation: fadeInUp 0.5s ease;
			animation-delay: 0s;
			animation-fill-mode: forwards;
		}

		& .headline{
			opacity: 0;
			animation: fadeInUp 0.5s ease;
			animation-delay: 0.2s;
			animation-fill-mode: forwards;
		}

		& .subheadline{
			opacity: 0;
			animation: fadeInUp 0.5s ease;
			animation-delay: 0.4s;
			animation-fill-mode: forwards;
		}

	}
}


.services-slider {
	counter-reset: service_slide;

	&  .slider-button :before{
		counter-increment: service_slide;
		  content: "0" counter(service_slide);
		display: inline-block;
		margin-right: 1rem;
		font-weight: 600;
		font-size: 18px;
		vertical-align: middle;
	}
}

  
.industries_slider {
counter-reset: industry_slide;

	& .slider-button:before{
		counter-increment: industry_slide;
		content: "0" counter(industry_slide);
		display: inline-block;
		margin-right: 1rem;
		font-weight: 600;
		z-index: 1;
		vertical-align: middle;
	}

	& .slider-navigation-buttons{

		& .slider-button.kb-button{
			text-align: left !important;;
			
		}

		& .slider-button.kb-button .kt-btn-inner-text{
			border-radius: 6px !important;
			padding-top: 0.6rem !important;
			padding-bottom: 0.6rem !important;
			overflow: clip;
			margin: 0;
			display: inline-block;
			font-size: clamp(18px, 2vw, 21px) !important;
			
		}

		& .slider-button.kb-button:hover .kt-btn-inner-text{
			background: #DFE0E1;
			border-radius: 6px !important;
		}

	}




	

}

body .tabbed-content-slider{

	.slider-navigation-buttons{

		& .slider-button.kb-button{
			text-align: left !important;
			
			&:before{
				opacity: 1;
				font-size: 18px;
				top: 50%;
				left: 1.5rem;
				transform: translateY(-50%);
				margin-top: 3px;

				@media screen and (max-width: 1024px){
					left: 1rem;
					font-size: 16px;
				}
			}
			

		}

		& .slider-button.kb-button .kt-btn-inner-text{
			border-radius: 6px !important;
			
			overflow: clip;
			margin: 0;
			display: inline-block;
			padding-left: 4.5rem;
			padding-top: 0.6rem !important;
			padding-bottom: 0.6rem !important;
			padding-right: 1.5rem;
			line-height: 1;
			font-size: clamp(18px, 2vw, 28px);

			@media screen and (max-width: 1024px){
				vertical-align: middle;
				padding-left: 4.5rem;
				text-shadow: 0px 0px 10px rgba(0,146.37,209.1,.25);

				
			}
		}

		& .slider-button.kb-button:hover .kt-btn-inner-text{
			background: #DFE0E1;
			border-radius: 6px !important;
		}

		

		& .slider-button.kb-button .kt-btn-inner-text:before{


			display: block;
			flex-direction: column;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 1.5rem;
			margin-top: 3px;
			z-index: 9;

			
				
			
			
		}

	}

	& .kb-advanced-slide-inner-wrap{
		justify-content: flex-start !important;
		align-items: flex-start;
		padding: 0;
		text-align: left !important;
	}


	& .swiper-slide{

		background-color: var(--global-palette8);


		& h2{
			opacity: 0;
			transform: translateY(2rem);
			transition: all 0.5s ease 0s;

			@media screen and (max-width: 1024px){
				font-size: 26px !important;
			}

			& mark.has-theme-palette-3-color{
				font-size: 30px;
				font-weight: 400;
				vertical-align: middle;
				letter-spacing: -0.3px;
				line-height: 48px;
				margin-right: 1rem;
				padding-bottom: 3px;

				@media screen and (max-width: 1024px){
					display: none;
				}
			}


		}

		& p.wp-block-kadence-advancedheading{
			opacity: 0;
			transform: translateY(2rem);
			transition: all 0.5s ease 0s;
		}

		& ul{
			opacity: 0;
			transform: translateY(2rem);
			transition: all 0.5s ease 0s;
			
		}


		&-active{

			& h2{
				opacity: 1;
				transform: translateY(0);
				transition: all 0.5s ease 0.7s;
			}

			& p.wp-block-kadence-advancedheading{
				opacity: 1;
				transform: translateY(0);
				transition: all 0.5s ease 0.5s;
				
			}

			& ul{
				opacity: 1;
				transform: translateY(0);
				transition: all 0.5s ease 0.3s;
				
			}

		}

		&-prev{

			& h2,
			& p.wp-block-kadence-advancedheading,
			& ul{
				opacity: 0;
				transform: translateY(0) !important;
				transition: opacity 0.2s ease 0s;
			}
			
		}



	}

	& .industries_slider_content{

		& .kb-row-layout-wrap,
		& .kt-row-layout-overlay{
			@media screen and (max-width: 1024px){
				background-image: unset;
			}
		}

		& *{
			
			@media screen and (max-width: 1024px){
				color: var(--global-palette3);
			}
		}

	}

	& .industries_slider_cta_buttons{

		@media screen and (max-width: 1024px){
			display: none !important;
		}
	}

	& .industries_slider_cta_buttons_mobile{

		@media screen and (min-width: 1024px){
			display: none !important;
		}
	}

	& .services_slider_image{
		@media screen and (max-width: 1024px){
			display: none !important;
		}
	}

}

 
.page {


	.process-card-wrap {
	  display: flex;
	  flex-grow: 1;
  
	  > * {
		display: flex;
		width: 100%;
		height: 100%;
	  }


	//   &:hover{
	// 	& .process-card-inner .background-elements{

	// 		.left-half-background{
	// 			background-color: #020E33 !important;
	// 			transition: background-color 0.3s ease !important;
	// 		}

	// 		.top-right-border,
	// 		.connector-arrow{
	// 			border-color:  #020E33 !important;
	// 			transition: border-color 0.3s ease !important;
	// 		}
	// 		.connector-arrow svg path{
	// 			fill: #020E33 !important;
	// 			transition: fill 0.3s ease !important;
	// 		}
	// 	}
	// 	& .process-card-inner .content-wrapper .content{
	// 		background-color: #0093D0;
	// 		transition: background-color 0.3s ease !important;
	// 	}
	//   }


	}
	
	.process-card-last{

		& .background-elements{


			.connector-arrow {
				display: none !important;
			}

			.top-right-border {
			width: calc(50% - 0.5rem);
			height:60% !important;
			top: 0;
			}
	
			.bottom-right-border {
				width: calc(50% - 0.5rem);
				height: 50%;
				bottom: 0;
			}


		}

		// &:hover .background-elements{
		// 	& .bottom-right-border {
		// 		border-color: #020E33 !important;
		// 		transition: border-color 0.3s ease !important;
		// 	}
		// }



	}
  
	.process-card-inner {
	  width: 100%;
	  height: 100%;
	  position: relative;
	  display: flex;
	  flex-grow: 1;
  
	  > * {
		display: flex;
		width: 100%;
		height: 100%;
	  }
  
	  .background-elements {
		position: absolute;
		height: 100%;
		width: 100%;
  
		> * {
		  position: absolute;
		}
  
		.left-half-background {
		  background-color: #0093d0;
		  top: 0;
		  left: 0;
		  height: 100%;
		  width: 50%;
		  border-radius: 3rem 0 0 3rem;

		  @media screen and (max-width: 1024px){
			height:50%;
			width: 100%;
			border-radius: 3rem  3rem 0 0  ;
		  }
		}
  
		.top-right-border {
		  width: calc(50% - 0.5rem);
		  height: calc(50% - 2rem);
		  top: 0;
		  left: calc(50% + 0.5rem);
		  border-top: 4px solid #0093d0;
		  border-right: 4px solid #0093d0;
		  border-radius: 0 3rem 0 0;

		  @media screen and (max-width: 1024px){

			border-top: 0px solid transparent;
		  	border-right: 0px solid transparent;

			border-bottom: 4px solid #0093d0;
		  	border-left: 4px solid #0093d0;

			border-radius: 0 0 0 3rem  ;

			width: 55%;
			height: calc(50% - 1rem);
			top: unset;
			bottom: 0;
			left: 0;
		  }

		}
  
		.bottom-right-border {
		  width: calc(50% - 0.5rem);
		  height: calc(50% - 1rem);
		  bottom: 0;
		  left: calc(50% + 0.5rem);
		  border-bottom: 4px solid #0093d0;
		  border-right: 4px solid #0093d0;
		  border-radius: 0 0 3rem 0;

		  @media screen and (max-width: 1024px){
			width: 55%;
			left: unset;
			right: 0;
		  }
		}
  
		.connector-arrow {
		  border-left: 4px solid #0093d0;
		  border-bottom: 4px solid #0093d0;
		  width: 2rem;
		  height: 1rem;
		  left: calc(100% - 4px);
		  top: calc(50% - 2rem);
		  border-radius: 0 0.5rem;

		  @media screen and (max-width: 1024px){
			border-left: 4px solid #0093d0;
			border-bottom: 0px solid transparent;
			left: 50%;
		  	top: unset; //calc(50% - 2rem);
			bottom: -36px;
			border-radius: 0;
			height: 2.5rem;
		  }
  
		  svg {
			position: absolute;
			width: 40px;
			height: 34px;
			left: 0.5rem;
			

			@media screen and (max-width: 1024px){
				transform: rotate( 90deg);
				left: -25px;
				top: 1.125rem;
			}
		  }


		}
	  }
  
	  .content-wrapper {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		top: 0;
		left: 0;
  
		> * {
		  display: flex;
		  width: 100%;
		  height: 100%;
		  padding: 1.5rem;

		  @media screen and (max-width: 1280px){
			padding: 1rem;
		  }
		  @media screen and (max-width:768px){
			padding: 1.5rem;
		  }
		}
  
		.content {
		  background-color: #020e33;
		  flex-grow: 1;
		  border-radius: 2rem;
		  width: 100%;
		  height: 100%;

		  @media screen and (max-width: 768px){
			min-height: 250px;
		  }

		  & p{
			font-size: clamp(14px, 1vw, 18px);

			@media screen and (max-width: 768px){
				font-size: 18px;
			  }
		  }


		}
	  }
	}
  }
  