body .gform-theme{

	&.gform-theme--orbital{

		.gform_fields{
			row-gap: 3rem;
		}

		input[type="text"],
		input[type="email"],
		input[type="url"],
		input[type="tel"],
		input[type="number"],
		input[type="password"],
		input[type="search"],
		textarea{
			border: 2px solid #DFE0E1;
			outline: none;
			box-shadow: none;
			border-radius: 6px;
			height: 2.6rem;

			&:focus,
			&:active{
				outline: none !important;
				border: 2px solid #0093D0; 
			}
		}

		& textarea{
			height: unset;
		}

		& label,
		& legend{
			font-weight: 600;
		}

		& .gform_required_legend{
			display: none;
		}

		& .gform_footer{

			padding-top: 2rem;

			& > input[type="submit"].gform_button{
				border-radius: 24px !important;
				background-color: #3FBDF3 !important;
				color: #FFFFFF !important;
				padding: 0.8rem 3rem !important;
				font-family: "Barlow Condensed", sans-serif !important;
				font-size: 18px !important;
				font-weight: 600 !important;
				letter-spacing: 3px !important;
				text-transform: uppercase !important;

				&:hover{
					background-color: #0093D0 !important;
				}
			}
		}

		
		
	}
}



body .cbs-list .kb-svg-icon-wrap{
	padding-left: 0 !important;
	padding-right: 0 !important;
}


body .kb-button span.kb-svg-icon-wrap svg{
	transform: rotate(0deg);
	transition: transform 0.3s ease;
}

body .kb-button:hover span.kb-svg-icon-wrap svg{
	transform: rotate(45deg);
}

body{
	letter-spacing: inherit;
}

body h2.elementor-size-default{
	text-shadow: 0px 0px 3px rgba(3,15,51,.25);
	letter-spacing: -0.58px;
}


body p{
	letter-spacing: -0.28px;
}


body .insights-card .kb-query-item figure{
	overflow: clip;
	border-radius: 8px;
}

body .insights-card .kb-query-item figure img{
	transform: scale(1);
	transition: all 0.3s ease;
}
body .insights-card .kb-query-item:hover figure img{
	transform: scale(1.1);
}

// body .mega-menu-row-layout{
// 	margin-left: -3rem;
// }



body li.kadence-menu-mega-enabled .mega-menu-row-layout{
	margin-top: -1rem;
	transition: all 0.4s ease;
}

body li.kadence-menu-mega-enabled:hover .mega-menu-row-layout{
	margin-top: 0rem;
	transition: all 0.4s ease;
}




@keyframes CBS_MenuFadeInUp {
	0% {
		opacity: 0;
		margin-top: -1rem;
	}
	100% {
		opacity: 1;
		margin-top: 0rem;
	}
}



body{

	@media screen and (min-width: 767px){
		
		
		
		& .arrow-section {
			max-width: 100%;

			&--headline{
				max-width: calc(100% - 82px) !important;
			}

			&--content {
				padding-left: 42px;
			}
		}
		
		
		
	}
 
	@media screen and (min-width: 1024px){
		
		.arrow-section {
			max-width: 100%;

			&--headline{
				max-width: calc(100% - 82px) !important;
			}

			&--content {
				padding-left: 60px;
			}
		}
		
		
	}
 
	.arrow-section{

		h2{
			text-shadow: 0px 0px 3px rgba(3.0000000000000067, 15.00000000000005, 51, 0.25);
		}

		& .arrow-section--content .wp-block-kadence-iconlist{
			padding-left: 8px;
		}


	}

}